<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:extends="base.html">

<head>
  <meta charset="UTF-8">
  <title>add course</title>
</head>
<body>
<div th:replace="~{base :: csslinks}"></div>
<div th:replace="~{base :: navbar}"></div>
<div class="row main-content">
<div th:replace="~{base::leftsidebar}"></div>
<!--Content right-->

<div class="col-sm-9 col-xs-12 content pt-3 pl-0">
  <h5 class="mb-0" >
  <form th:object="${course}" th:action="@{'/saveCourse/'+${user.getId()}}" method="post">
    <input type="hidden" name="user" th:value="${user}">
    <div class="form-group">
      <label for="courseName">name:</label>
      <input type="text" class="form-control" id="courseName" placeholder="Example input" th:field="*{name}"/>
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
</div>
</body>
</html>