<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:extends="base.html">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Bootstrap demo</title>
    <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
            crossorigin="anonymous"
    />
    <style>
        * {
            box-sizing: border-box;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }

        p {
            margin: 0;
            margin-top: 5px;
        }

        a {
            text-decoration: none;
        }

        .sagi::before {
            content: "__________________ ";
            color: black;
            font-weight: bold;
            position: relative;
            bottom: 6px;
        }

        .sagi::after {
            content: " __________________";
            color: black;
            font-weight: bold;
            position: relative;
            bottom: 6px;
        }
    </style>
</head>
<body>

<div th:replace="~{base :: csslinks}"></div>
<div th:replace="~{base :: navbar}"></div>
<div class="row main-content">
    <div th:replace="~{base::leftsidebar}"></div>
</div>

<div th:replace="~{base :: footer}"></div>

<div th:replace="~{base :: jslinks}"></div>
<div class="container d-flex py-2 justify-content-between">
    <div>
        <h2>Exams</h2>
        <div
                style="
            width: 400px;
            height: auto;
            background-color: whitesmoke;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            border-top: 3px solid blue;
          "
        >
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#">Exams</a>
                    <div  th:each="courseExam : ${course.getExams()}">
                        <p th:text="${courseExam.getTitle()}"></p>
                        <p>th:text ="${courseExam.getExamTime()}"</p>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <div class="d-flex justify-content-between align-items-center">
                    <a href="#">exam name</a>
                    <div>
                        <p>2 soal</p>
                        <p>date</p>
                    </div>
                </div>
            </div>
            <hr />
        </div>
    </div>
    <div>
        <h2>darsnameh ha</h2>
        <div
                style="
            width: 400px;
            height: auto;
            background-color: whitesmoke;
            margin: 5px;
            padding: 5px;
            border-radius: 5px;
            border: 1px solid gray;
            border-top: 3px solid red;
          "
        >
            <div></div>
        </div>
    </div>
    <div>
        <div>
            <h2>class information</h2>
            <div
                    style="
              width: 400px;
              height: auto;
              background-color: whitesmoke;
              margin: 5px;
              padding: 5px;
              border-radius: 5px;
              border: 1px solid gray;
              border-top: 3px solid aqua;
            "
            >
                <div class="names" style="text-align: center">
                    <h2>lesson name</h2>
                    <p>teacher</p>
                    <div class="graders">
                        <p class="mt-2 sagi">graders</p>
                        <p>hasan</p>
                        <p>aram</p>
                        <p>erfan</p>
                        <p>yasin</p>
                        <p>sedighe</p>
                    </div>
                    <hr />
                    <div class="d-flex justify-content-between px-5">
                        <div style="align-items: center">
                            <p>21</p>
                            <h3>members</h3>
                        </div>
                        <div style="align-items: center">
                            <p>5</p>
                            <h3>texts</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <h2>important texts</h2>
            <div
                    style="
              width: 400px;
              height: auto;
              background-color: whitesmoke;
              margin: 5px;
              padding: 5px;
              border-radius: 5px;
              border: 1px solid gray;
              border-top: 3px solid orange;
            "
            ></div>
        </div>
    </div>
</div>
<script
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"
></script>
</body>
</html>
