<!DOCTYPE html>
<html lang="en" th:extends="base.html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div th:replace="~{base :: csslinks}"></div>
    <div th:replace="~{base::navbar}"></div>

    <div class="row main-content">
        <div th:replace="~{base::leftsidebar}"></div>

        <div class="col-sm-9 col-xs-12 content pt-3 pl-0">
            <div class="container mt-sm-5 my-1">

                <h2 th:text="${exam.getTitle()}"></h2>

                <form th:action="@{'/submit-exam/' + ${user.getId()} +'/'+${exam_id}}" method="post" th:object="${user}">
                    <div class="question ml-sm-5 pl-sm-5 pt-2"  th:each="question :${exam.questions}">

                        <div class="py-2 h5">Q.<b th:text="${question.text}"></b></div>
                        <div class="ml-md-3 ml-sm-3 pl-md-5 pt-sm-0 pt-3" id="options"  th:each="choice:${question.choices}">

                            <input type="radio" th:field="*{submittedAnswers[__${question.id}__]}" th:value="${choice.id}">
                            <label class="options" th:text="${choice.getText()}"></label>
                                <span class="checkmark"></span>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
<div th:replace="~{base :: jslinks}"></div>
</body>
</html>