<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:extends="base.html">
<head>
    <title th:fragment="title">Specific Page Title</title>
    <!-- Add specific page CSS and JS files here if needed -->
</head>
<body>

<div th:replace="~{base :: csslinks}"></div>
<div th:replace="~{base :: navbar}"></div>
<div class="row main-content">
    <div th:replace="~{base::leftsidebar}"></div>

    <div class="card" style="width: 18rem; height:18rem" th:each="courseplan: ${courseplans}">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSvTpiEoQuOyj6WmKgNKUWkkw1Gus6slQe6YA&usqp=CAU" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title" style="font-weight: bold" th:text="${courseplan.getCourse().getName()}"></h5>
            <p class="card-text" style="font-weight: lighter" th:text="${courseplan.getCreator().getUserName()}"></p>
            <a href="#" class="btn btn-primary">See Course Info</a>
        </div>
    </div>
    <!--Content right-->
        <div class="col-sm-9 col-xs-12 content pt-3 pl-0">

        </div>
    </div>
</div>

<div th:replace="~{base :: footer}"></div>

<!--Page Wrapper-->

<!-- Page JavaScript Files-->
<div th:replace="~{base :: jslinks}"></div>
</body>
</html>